.about {
  width: 320px;
  margin: 0 auto;
  padding: 50px 0;

  @media (min-width: $vp-768) {
    width: 768px;
  }

  @media (min-width: $vp-1440) {
    width: 1440px;
  }
}

.about__title {
  padding: 0 0 15px 0;
  width: 290px;
  margin: 0 auto;
}

h3.about__title {
  width: 290px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  font-size: 18px;
  line-height: 22px;
}

.about__text {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 40px 0;
  font-size: 16px;
  line-height: 22px;
}

.about__description {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  font-size: 14px;
  line-height: 20px;
}

.about__wrapper--button {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
