.main-nav__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 290px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 290px;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: block;
  width: 290px;
  margin: 0;
  padding: 0;
  color: #f0efe9;
  background-color: $color-blue;

  &:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    margin-bottom: 4px;
  }
}

.main-nav__title {
  display: block;
  width: 44px;
  margin: 20px auto 20px 20px ;
  padding: 0;
  text-transform: uppercase;
  font-family: $font-manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.15px;
}

.main-nav__toggle {
  margin: 4px auto 4px 4px;
}
