.reviews-card.swiper-slide {
  padding: 32px 17px;
  margin: 0;
  width: 290px;
  background-color: $color-default-white;
  color: $color-blue;
  border: 2px solid $color-blue;
  border-radius: 16px;
}

.reviews-card__name {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 256px;
  margin: 0 auto;
  padding: 0 0 15px 0;

  picture {
    display: block;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-blue;
  }
}

.reviews-card__title {
  display: block;
  width: min-content;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: start;
}

.reviews-card__description {
  display: block;
  width: 256px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  color: $color-blue;
}

.reviews-card__text {
  display: block;
  width: 256px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  color: $color-main;
}
